[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
motor = "*"
pydantic = {extras = ["email"], version = "*"}
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
black = "*"
isort = "*"
fastapi-pagination = "*"
aiokafka = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
